h1{
    color: red;
}
form{
    display: flex;
    align-items: flex-start;

}
.ingredients-group{
    border: 2px solid black;
    display: flex;
    flex-flow: column wrap;
    width: 45%;
}
.measures-group{
    border: 2px solid black;
    display: flex;
    flex-flow: column wrap;
    width: 45%;
}